

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular Tutorial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="binding">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Template Driven Form">Template Driven Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Reactive Form">Reactive Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Reactive fb Form">Reactive fb Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Pizza order">Order a pizza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login_page">Log in Page</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
